{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Weather Report</title>
</head>

<body>
    <!--banner start-->
    <div style="background-color: rgb(162, 203, 238);">
        <h1 class="text-left ml-2  mb-2" style="font-family:'Times New Roman', Times, serif;">Cheek Weather</h1>
    </div>
    <!--banner end-->

    <div class="container">
        <form method="GET">
            <div class="input-group">
                {{form.name}}
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-sm" type="submit" id="button-addon2">search</button>
                </div>
            </div>
        </form>

{% if messages %}
{% for message in messages %}
        <div class="alert alert-warning mt-1">
            {{message}}
        </div>
{% endfor %}
{% endif %}
        <!--weather card-->
        {% if data %}
        <div class="card mb-3 mt-5 mx-auto" style="max-width: 440px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <center>
                        <img src="http://openweathermap.org/img/wn/{{data.icon}}@2x.png" class="card-img "
                            style="max-height: 150px; max-width: 150px;">
                    </center>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">{{data.city_name|capfirst}}</h3>
                        <h6>{{data.temp|capfirst}}°C &emsp; </h6>
                        <p class="card-text">{{data.weather|capfirst}}</p>
                        <p class="card-text"><small class="text-muted">Last updated {{data.last_update_time  }} mins
                                ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!--weather card ends-->
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>